.Header {
  padding: 10px;
  left: 25%;
  position: relative;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.534);  
  border: 3px solid black;
  width: 50%;
  margin-top: 10%;
}

.Button {
  color: white;
  position: relative;
  left: 25%;
  background-color: #b40b0b;
  font-size: 20px;
  padding: 10px 80px;
  border-radius: 10px;
  margin: 10px 0px;
  cursor: pointer;
}